/.bash_history
/.cache
/.env
/.local
/.npm
/.venv
/app/data
/web/static/dist
/compose.override.yaml
/data
/dist
/node_modules
/web/openssl.cnf
/web/ssl
/frontend/.svelte-kit/
/frontend/build/
/frontend/node_modules/
/frontend/test-results/
/frontend/playwright-report/
/frontend/tests/.auth/
