---
services:
  web:
    image: nginx
    restart: always
    volumes:
      - ./web/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./web/ssl:/etc/nginx/ssl:ro
      - ./web/static:/var/www/static:ro
    environment:
      - TZ=Asia/Tokyo
    networks:
      - network
    ports:
      - "38180:443"
    depends_on:
      - app
    logging:
      options:
        max-size: "1m"
        max-file: "3"

  db:
    image: mariadb:lts
    restart: always
    volumes:
      - ${DATA_DIR}/mariadb:/var/lib/mysql
      - ${PWD}/db/my.cnf:/etc/mysql/conf.d/my.cnf:ro
    environment:
      - TZ=Asia/Tokyo
      - MARIADB_USER=glatasks
      - MARIADB_PASSWORD=glatasks
      - MARIADB_DATABASE=glatasks
      - MARIADB_ROOT_PASSWORD=glatasks
      - MARIADB_AUTO_UPGRADE=1
    healthcheck:
      test: mariadb-admin ping --password=glatasks | grep 'is alive'
      start_period: 30s
      start_interval: 1s
    networks:
      - network
    logging:
      options:
        max-size: "1m"
        max-file: "3"

include:
  - ./compose.${COMPOSE_PROFILE}.yaml

networks:
  network:
