[mysqld]
# バッファサイズ（キャッシュ）
key_buffer_size = 16M
innodb_buffer_pool_size = 64M
innodb_log_buffer_size = 8M

# クライアントコネクション
max_connections = 20
table_open_cache = 64
thread_cache_size = 8

# クエリキャッシュ（非推奨だけど小規模ならあり）
query_cache_size = 16M
query_cache_limit = 1M
query_cache_type = 1

# スローログを有効にしておくと無駄なクエリも分かる
#slow_query_log = 1
#long_query_time = 2
