{% extends "_layout.html" %}

{% block title %}
  {{ helpers.get_title() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
  <span id="lists-data" class="d-none">{{ helpers.encryptObject(lists) }}</span>
  <div
    class="row mt-3 mb-3"
    x-data="{
      lists: [],
      selectedList: null,
    }"
    x-init='
      lists = await globalThis.decryptObject(document.querySelector("#lists-data").innerText)
      const savedList = localStorage.getItem("selectedList")
      selectedList = savedList ? parseInt(savedList) : (lists.length > 0 ? lists[0].id : null)
      $watch("selectedList", value => localStorage.setItem("selectedList", value))
    '
  >
    <div class="col">
      <form
        :action='`{{ url_for('tasks.post', list_id=-9999) }}`.replace("-9999", selectedList)'
        method="post"
        class="taskPostForm mb-3 text-right"
        data-next-url="{{ url_for('main.index') }}"
      >
        <input type="hidden" name="nonce" value="{{ csrf_token() }}" />
        <textarea name="text" class="form-control" rows="5">{{ shared_text if shared_text else '' }}</textarea>
        <select class="form-control listSelector" x-model="selectedList" required>
          <template x-for="list_ in lists" :key="list_.id">
            <option :value="list_.id" x-text="list_.title"></option>
          </template>
        </select>
        <button type="button" class="submitButton btn btn-sm btn-primary">追加</button>
      </form>
    </div>
  </div>
{% endblock %}

{% block foot %}
{% endblock %}
