{% extends "_layout.html" %}

{% block title %}
  {{ helpers.get_title() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
  <div
    class="mx-1 my-3"
    x-data='{
      lists: [],
      selectedList: null,
      listsHandler: null,
      tasksHandler: null,
      __dummy_for_prettier: "",
    }'
    x-init='
      listsHandler = globalThis.initializeLists()
      tasksHandler = globalThis.initializeTasks()

      await listsHandler.fetchLists($data, "list")

      const savedList = localStorage.getItem("selectedList")
      selectedList = savedList ? parseInt(savedList) : (lists.length > 0 ? lists[0].id : null)
      $watch("selectedList", value => localStorage.setItem("selectedList", value.toString()))
    '
  >
    <div class="col">
      <form
        :action='`{{ url_for('tasks.post', list_id=-9999) }}`.replace("-9999", selectedList)'
        method="post"
        class="taskPostForm mb-3"
        data-next-url="{{ next_url if next_url else url_for('main.index') }}"
      >
        <input type="hidden" name="nonce" value="{{ csrf_token() }}" />
        <textarea name="text" class="form-control" rows="5">{{ shared_text if shared_text else '' }}</textarea>
        <select class="form-control listSelector" x-model.number="selectedList" required>
          <template x-for="list_ in lists" :key="list_.id">
            <option :value="list_.id" x-text="list_.title"></option>
          </template>
        </select>
        <div class="text-end">
          <button type="button" class="btn btn-sm btn-primary" @click="await tasksHandler.submitTaskForm($el.closest('form'))">
            追加
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block foot %}
{% endblock %}
