{% extends "_layout.html" %}

{% block title %}
  {{ helpers.get_title() }}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
  <div
    x-data='{
      lists: [],
      show_type: {{ show_type | tojson }},
      selectedList: null,
      listsHandler: null,
      tasksHandler: null,
      __dummy_for_prettier: "",
    }'
    x-init='
      listsHandler = globalThis.initializeLists()
      tasksHandler = globalThis.initializeTasks()

      await listsHandler.fetchLists($data)

      const savedList = localStorage.getItem("selectedList")
      selectedList = savedList ? parseInt(savedList) : (lists.length > 0 ? lists[0].id : null)
      if (selectedList) {
        localStorage.setItem("selectedList", selectedList.toString())
      }

      $watch("selectedList", (value) => { localStorage.setItem("selectedList", value.toString()) })
    '
  >
    <div class="row mt-3 mb-3">
      <div class="col-3">
        {# 左ペイン #}
        <div class="list-group list-group-flush">
          <template x-for="(list_, index) in lists" :key="list_.id">
            <a
              class="list-group-item list-group-item-action"
              :class="selectedList === list_.id ? 'active' : ''"
              @click.prevent="selectedList = list_.id"
              :href="`#list-${list_.id}`"
              role="tab"
              :aria-controls="`list-${list_.id}`"
              x-text="list_.title"
            ></a>
          </template>
          <div class="list-group-item">
            {# リスト追加 #}
            <form action="{{ url_for('lists.post') }}" method="post" class="input-group">
              <input type="hidden" name="nonce" value="{{ csrf_token() }}" />
              <input type="text" name="title" class="form-control form-control-sm" required />
              <button type="button" class="btn btn-sm btn-primary" @click="await listsHandler.submitForm($el.closest('form'))">
                追加
              </button>
            </form>
          </div>
        </div>
      </div>
      <div class="tab-content col-9">
        {# 右ペイン #}
        <template x-for="(list_, index) in lists" :key="list_.id">
          <template x-if="selectedList === list_.id">
            <div
              :id="`list-${list_.id}`"
              class="tab-pane fade show active"
              role="tabpanel"
              :aria-labelledby="`list-${list_.id}-tab`"
              x-init="
                  // リスト選択時にタスク一覧を取得
                  await listsHandler.fetchTasks($data, list_.id)
                  // 定期的にタスク一覧を更新
                  setInterval(async () => { await listsHandler.fetchTasks($data, list_.id) }, 5 * 60 * 1000)
                "
            >
              <div class="row mb-3">
                <div class="col-12 text-end">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-outline-primary" href="{{ url_for('main.index') }}">再読み込み</a>
                  </div>
                  <div class="btn-group">
                    <form :action="`{{ url_for('lists.clear', list_id=-9999) }}`.replace('-9999', list_.id)" method="post">
                      <input type="hidden" name="nonce" value="{{ csrf_token() }}" />
                      <button
                        type="button"
                        class="btn btn-sm btn-outline-warning"
                        @click="await listsHandler.submitForm($el.closest('form'))"
                      >
                        完了済みを非表示化
                      </button>
                    </form>
                  </div>
                  <div class="btn-group">
                    <a
                      class="btn btn-sm btn-outline-secondary {{ 'active' if show_type == 'list' else '' }}"
                      href="{{ url_for('main.index', show_type='list') }}"
                      >リスト</a
                    >
                    <a
                      class="btn btn-sm btn-outline-secondary {{ 'active' if show_type == 'hidden' else '' }}"
                      href="{{ url_for('main.index', show_type='hidden') }}"
                      >非表示済みを表示</a
                    >
                    <a
                      class="btn btn-sm btn-outline-secondary {{ 'active' if show_type == 'all' else '' }}"
                      href="{{ url_for('main.index', show_type='all') }}"
                      >全て表示</a
                    >
                  </div>
                </div>
              </div>

              {# タスク追加フォーム #}
              <form
                x-data="{ isEditing: false }"
                :action="`{{ url_for('tasks.post', list_id=-9999) }}`.replace('-9999', list_.id)"
                method="post"
                class="taskPostForm mb-3"
              >
                <input type="hidden" name="nonce" value="{{ csrf_token() }}" />
                <textarea
                  name="text"
                  class="form-control form-control-sm w-full"
                  :rows="isEditing ? 5 : 1"
                  @focus="isEditing = true"
                  @blur='if ($el.value === "") { isEditing = false }'
                ></textarea>
                <div class="text-right">
                  <button
                    type="button"
                    class="btn btn-sm btn-primary"
                    x-show="isEditing"
                    @click="await tasksHandler.submitTaskForm($el.closest('form'))"
                  >
                    追加
                  </button>
                </div>
              </form>

              <ul class="list-group mb-3">
                {# タスク一覧 #}
                <template x-for="(task, index) in list_.tasks" :key="task.id">
                  <li
                    x-show="['needsAction', 'completed'].includes(task.status) === (show_type == 'list') || show_type == 'all'"
                    :id="task.id"
                    :data-list-id="list_.id"
                    class="list-group-item taskItem"
                    :class="task.status == 'needsAction' ? '' : 'taskCompleted'"
                  >
                    <input
                      type="checkbox"
                      :checked="task.status !== 'needsAction'"
                      @click.prevent="await tasksHandler.toggleTaskCompletion($el)"
                    />
                    <span class="editButton" @click="tasksHandler.editTask($el.closest('.taskItem'))">編集</span>

                    <span class="title" x-text="task.title"></span><br />
                    <small class="notes text-muted" style="white-space: pre-wrap;" x-text="task.notes.trim()"></small>
                  </li>
                </template>
              </ul>

              <details class="mt-5">
                <summary>リスト操作</summary>
                {# リストリネーム #}
                <form
                  :action="`{{ url_for('lists.rename', list_id=-9999) }}`.replace('-9999', list_.id)"
                  method="post"
                  class="input-group"
                >
                  <input type="hidden" name="nonce" value="{{ csrf_token() }}" />
                  <input type="text" name="title" :value="list_.title" class="form-control form-control-sm" required />
                  <button
                    type="button"
                    class="btn btn-sm btn-primary"
                    data-confirm="リストの名前を変更します。よろしいですか?"
                    @click="await listsHandler.submitForm($el.closest('form'))"
                  >
                    リネーム
                  </button>
                </form>
                {# リスト非表示化 #}
                <form :action="`{{ url_for('lists.hide', list_id=-9999) }}`.replace('-9999', list_.id)" method="post">
                  <input type="hidden" name="nonce" value="{{ csrf_token() }}" />
                  <div class="text-end">
                    <button
                      type="button"
                      class="btn btn-sm btn-danger"
                      data-confirm="リストを非表示化します。よろしいですか?"
                      @click="await listsHandler.submitForm($el.closest('form'))"
                    >
                      非表示化
                    </button>
                  </div>
                </form>
                {# リスト削除 #}
                <form :action="`{{ url_for('lists.delete', list_id=-9999) }}`.replace('-9999', list_.id)" method="post">
                  <input type="hidden" name="nonce" value="{{ csrf_token() }}" />
                  <div class="text-end">
                    <button
                      type="button"
                      class="btn btn-sm btn-danger"
                      data-confirm="リストと関連するタスクを全て削除します。よろしいですか?"
                      @click="await listsHandler.submitForm($el.closest('form'))"
                    >
                      削除
                    </button>
                  </div>
                </form>
              </details>
            </div>
          </template>
        </template>
      </div>
    </div>

    <form id="tasks_patch_form" action="." method="post">
      <input type="hidden" name="nonce" value="{{ csrf_token() }}" />
      <div class="modal" tabindex="-1" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">タスクの編集</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <textarea name="text" class="form-control form-control-sm" rows="10"></textarea>
              </div>
              <div class="form-group">
                <select name="move_to" class="form-control">
                  <template x-for="(list_, index) in lists" :key="list_.id">
                    <template x-if='list_.status !== "hidden"'>
                      <option :value="list_.id" x-text="list_.title"></option>
                    </template>
                  </template>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" @click="await tasksHandler.submitTaskEdit($el.closest('form'))">
                保存
              </button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block foot %}
  <script nonce="{{ g.script_nonce }}"></script>
{% endblock %}
